$badge-font-size:               .813em;
$badge-font-weight:             $font-weight-bold;
$badge-color:                   $primary;
$badge-padding-y:               .42em;
$badge-padding-x:               .8em;
$badge-border-radius:           0;