$input-padding-y:                .475rem;
$input-font-size:                .941rem;

$input-placeholder-color:        #999999;
$input-border-color:             #E5E5E5;
$input-border-radius:            0;
$input-border-radius-sm:         0;
$input-border-radius-lg:         0;

$input-btn-focus-box-shadow:     0;
$input-bg:                       #fff;

$input-focus-bg:                 $input-bg;
$input-focus-border-color:       $info;
$input-focus-color:              $body-color;
$input-focus-width:              .25rem;

$input-group-addon-border-color: $input-border-color;
$input-group-addon-bg:           $input-bg;