$headings-font-family:              "Merriweather", sans-serif;
$headings-font-weight:              900;
$headings-color:                    $dark;
$headings-margin-bottom:            $spacer * .6;

$hr-color:                          #e8e8e8;
$hr-height:                         $border-width;
$hr-opacity:                        1;

$blockquote-margin-y:               $spacer;
$blockquote-font-size:              $font-size-base * 1.2;
$blockquote-footer-color:           $text-muted;
$blockquote-footer-font-size:       0.882rem;