<!-- footer begin -->
<footer class="py-5 in-cirro-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row gx-0 mb-3">
                    <div class="col-md-12 col-lg-3 footer-logo">
                        <img src="{{root}}img/user/footer-logo-5vqlhb.svg" alt="footer-logo" width="122" height="36" class="mb-1 d-block">
                        <a class="lead footer-email" href="mailto:{{component.contactMap.email}}">{{component.contactMap.email}}</a>
                    </div>
                    <div class="col-md-12 col-lg-9">
                        <div class="d-flex flex-column flex-xl-row justify-content-xl-end">
                            <ul class="list-inline in-footer-link order-last order-xl-first">
                                <li class="list-inline-item"><a href="#">Contact</a></li>
                                <li class="list-inline-item"><a href="#">FAQ</a></li>
                                <li class="list-inline-item"><a href="#">Carreers</a></li>
                                <li class="list-inline-item"><a href="#">Partners</a></li>
                                <li class="list-inline-item"><a href="#">Integrations</a></li>
                                <li class="list-inline-item"><a href="#">Security</a></li>
                            </ul>
                            {{> component-social-media }}
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3 mt-5 d-flex">
                        <div class="align-self-end">
                            <p class="mb-0 copyright-text">©2022 Cirro Invest Ltd. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-9 d-lg-flex justify-content-lg-end d-none d-lg-block">
                        <div class="align-self-end">
                            <nav class="nav in-footer-link-2">
                                <a class="nav-link border-end-md" href="#">Risk Disclosure</a>
                                <a class="nav-link border-end-md" href="#">Privacy policy</a>
                                <a class="nav-link border-end-md" href="#">Return policy</a>
                                <a class="nav-link border-end-md" href="#">Customer Agreement</a>
                                <a class="nav-link pe-0" href="#">AML policy</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->