<!-- social media begin -->
<div class="social-media-list small hstack gap-3 ms-lg-5 order-first order-xl-last">
	<div><a href="https://www.facebook.com/indonez" class="color-facebook text-decoration-none"><i class="fab fa-facebook-square"></i> Facebook</a></div>
	<div><a href="https://twitter.com/indonez_tw" class="color-twitter text-decoration-none"><i class="fab fa-twitter"></i> Twitter</a></div>
	<div><a href="#some-link" class="color-linkedin text-decoration-none"><i class="fab fa-linkedin"></i> Linkedin</a></div>
</div>
<!-- social media end -->