// Theme Colors
$primary: #1A5C96;
$secondary: #E6ECF2;
$success: #3BD297;
$info: #05B3D7;
$warning: #F2C643;
$danger: #EE4F6F;
$light: #F0F0F0;
$dark: #0C385F;
$background: #F5F7F9;
$body: #333333;
$link: #2788ED;