// Fonts
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/merriweather-v30-latin-900.woff2') format('woff2'),
        url('../fonts/merriweather-v30-latin-900.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/poppins-v20-latin-300.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-300.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-regular.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-700.woff') format('woff');
    font-display: block;
}