// Breadcrumb
@include media-breakpoint-down(sm) {
    .breadcrumb {
        li:nth-child(n+4) {
            display: none;
        }
    }
}

.breadcrumb-item {
    // styling
    font-size: $small-font-size;
    color: rgba(#fff, 0.5);
    padding: 1.28rem 0;
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            color: rgba(#fff, 0.7);
        }
    }
}